<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>JSapptest</h1>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Products</h4>
      </div>
      <div class="modal-body">
      <p>
        <div class="btn-group">
          <%= link_to 'Add Product', new_car_path, class: 'btn btn-success'%>
        </div>
      </p>
      <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Colour</th>
                
            </tr>
        </thead>
      </table>
    </div>
  </body>
</html>
