<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <title></title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <table id="table_id" class="display">
      <thead>
          <tr>
              <th>Name</th>
              <th>Manufacturer</th>
              <th>Colour</th>
          </tr>
      </thead>
    </table>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
  </body>
</html>
