<div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a Car</h4>
      </div>
      <div class="modal-body">
        <p>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-8">
              <label class="control-label">Car Name</label>
              <%= @car.name %>
            </div>

            <div class="col-xs-4">
              <label class="control-label">Manufacturer</label>
              <%= @car.manufacturer %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label class="control-label">Colour</label>
              <%= @car.colour %>
            </div>
          </div>
        </div>
        </p>
      </div>
      <div class="modal-footer">
        <%= link_to 'Back', root_path, class: 'btn btn-default'%>
      </div>
</div>
